
/*Keep the footer at bottom of the page*/
/*Used on Clic Sargent Ecard Creator*/

html,
body {
  height: 100%;
}

.container {
  min-height: 100%;
}

.main {
  overflow: auto;
  padding-bottom: 140px;
  /* must be same height as the footer */
}

footer {
  position: relative;
  margin-top: -140px;
  /* negative value of footer height */
  height: 140px;
  clear: both;
}
