body {
  overflow: visible;
}

.page {
  width: 960px;
  margin: 0px auto;
}

.carousel-outer {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.left-transparent, 
.right-transparent, 
.carousel-inner {
  float: left;
}

.left-transparent,
.right-transparent {
  width: 20%;
  position: absolute;
  opacity: 0.4;
  background-color: black;
  height: 200px;
  z-index: 998;
}

.left-transparent {
  left: 0px;
}

.right-transparent {
  right: 0px;
}

.leftLink,
.rightLink {
  position: absolute;
  z-index: 999;
}

.leftLink {
  left: 0;
  img {
    transform: rotate(0.25turn);
  }
}

.rightLink {
  right: 0;
  img {
    transform: rotate(-0.25turn);
  }
}

.wrapper {
  position: absolute;
  width: 2197px;
  .carousel-item {
    float: left;
    width: 500px;
  }
}

.carousel-inner {
  overflow: visible;
  height: 494px;
  margin-left: 20%;
  position: relative;
}

.scroll-buttons {
  position: absolute;
  bottom: 0;
  list-style-type: none;
  margin: 0 10px;
  .scroll-button {
    float: left;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    text-align: center;
    margin: 0 20px;
    &:hover {
      cursor: pointer;
      background-color: white;
      color: black;
    }
  }
  .activeLink {
    background-color: white;
  }
}